.static-about {
  .image {
    padding-top: 60px;
  }
}

.static-contact {
  padding-bottom: 200px;
  .twt {
    padding-top: 20px;
  }
  .shoot {
    padding-top: 50px;
  }
  h3 {
    margin-top: 0;
    margin-left: 20px;
  }
}