// overwrite bootstrap sprites
$iconSpritePath:          "/img/glyphicons-halflings.png" !default;
$iconWhiteSpritePath:     "/img/glyphicons-halflings-white.png" !default;

// colors
$color-1st: #30A6D8;
$color-2nd: #CAEBFA;
$color-1st-inv: #FFF; // inverted/opposite

$color-positive: #3DCC76;
$color-positive-light: #8ED485;
$color-bad-light: #CA7D7D;

$color-form-border: #ACAAAA;
