// About view
//
extends ../layout/default

block content
  div.container.static-about
    div.row
      div.col-sm-6
        h2 About awesomeapp.com
        p awesome speak
      div.col-sm-6.image
        img(width="300px", height="350px", src="http://fillmurray.com/g/300/350")
        p Photos curtesy of
          a(href="http://www.fillmurray.com/") fillmurray.com



