// About view
//
extends ../layout/default

block content
  div.container.static-about
    div.row
      div.col-sm-6
        h2 About netscan.co
        p netscan.co checks your network connectivity against all web technologies. It will reliably determine UDP and TCP connectivity for WebRTC so you know it's not you who has the problem.
        p You can direct your customers and users to this page and have them share the unique url that will be generated with each Network Scan. The results page will give you an overview of connectivity and detailed information about what the browser supports, what device and operating system your client was running on.
        p
          a(href="/") www.netscan.co
          | &nbsp;was built out of the frustration of working with edge web technologies during a weekend in the NodeKnockout 2014 hackathon!&nbsp;
          a(href="http://nodeknockout.com/teams/nodethx") Check out the NKO submission
          | . The engine was built by&nbsp;
          a(href="https://github.com/thanpolas") @thanpolas
          | &nbsp;And the markup and styling was done by&nbsp;
          a(href="https://github.com/sevastos") @sevastos
          | .
      div.col-sm-6.image
        img(width="300px", height="350px", src="http://fillmurray.com/g/300/350")
        p Photos curtesy of
          a(href="http://www.fillmurray.com/") fillmurray.com



