// Contact view
//
extends ../layout/default

block content
  div.container.static-contact
    div.row
      div.col-sm-6
        h2 Contact
        p.twt Twitter&nbsp;
          a(href="http://twitter.com/thanpolas") @thanpolas
          | .

        p.shoot ... or just shoot an email at
        h3
          a(href="mailto:hello@netscan.co") hello@netscan.co
