meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name='description', content='')
meta(name='viewport', content='width=device-width')


meta(property="og:title", content="Test your Connection")
meta(property="og:site_name", content="www.netscan.co")
meta(property="og:url", content="http://www.netscan.co")
meta(property="og:description", content="netscan.co is a web application that will perform a series of network tests for modern Web Services like WebSockets and WebRTC. It will then allow you to share the results with an expert and get your problems resolved faster!")
meta(property="og:image", content="https://s3.amazonaws.com/sdk.netscan.co/2014-04-logo.png")
meta(property="fb:app_id", content="309825832497899")
meta(property="og:type", content="website")

