meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
meta(name='description', content='')
meta(name='viewport', content='width=device-width')


meta(property="og:title", content="My Awesome app")
meta(property="og:site_name", content="www.awesomeapp.com")
meta(property="og:url", content="http://www.awesomeapp.com")
meta(property="og:description", content="awesomeapp.com is a web application that will...")
meta(property="og:image", content="")
meta(property="fb:app_id", content="")
meta(property="og:type", content="website")

