// OLD IE Panel
//if lt IE 7
  p.chromeframe
    | You are using an&nbsp;
    strong outdated
    | &nbsp;browser. Please&nbsp;
    a(href='http://browsehappy.com/') upgrade your browser
    | &nbsp;or&nbsp;
    a(href='http://www.google.com/chromeframe/?redirect=true') activate Google Chrome Frame
    | &nbsp;to improve your experience.
