// index file
//
// ip {string} The client's IP
//

extends layout/default

block content

  div.jumbotron
    h1 Hello World
    p This is just a cool copy placeholder
    p Why don't you&nbsp
      a(href="https://github.com/thanpolas/nodeON") check out the source code
    .container

  div.container
    div.row
      div.col-sm-6
        h2 Awesome speak
        p Scenester Intelligentsia shabby chic slow-carb viral street art. Church-key food truck Pitchfork, Truffaut Etsy biodiesel 90's Godard wayfarers photo booth Blue Bottle hashtag
        p Normcore tote bag paleo, vegan roof party yr pickled High Life cred selvage gluten-free cliche distillery. Lomo chillwave viral, banh mi selvage

      div.col-sm-6
        h2 More Awesome speak
        p Scenester Intelligentsia shabby chic slow-carb viral street art. Church-key food truck Pitchfork, Truffaut Etsy biodiesel 90's Godard wayfarers photo booth Blue Bottle hashtag
        p Normcore tote bag paleo, vegan roof party yr pickled High Life cred selvage gluten-free cliche distillery. Lomo chillwave viral, banh mi selvage
